.login{
    min-height:90vh;
    margin-top:10vh;
    
}
.register{
    min-height:90vh;
    width:100vw;
    margin-top:10vh;

}
.regi{
    height:90%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.label{
    width:100px;
}
.input{
    width:250px;
}
