.userinfor{
    
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
}
.userprofile{
    position:relative;
}
.portrait{
    content:"";
    height:120px;
    width:120px;
    border-radius:50%;
    position:relative;
    border-top:3px solid red;
    border-bottom:3px solid blue;
    overflow: hidden;
    
}
.portrait img{
    border-radius: 50%;
    width:100%;
    height: 100%;
}
.update{
    width:140px;
}
.upto{
    width:100px;
}
.inv{
    display:none;
    position:absolute;
    top:23%;
    left:35%;
    width:clamp(350px,40vw);
}